# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
*.egg
dist/
build/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# App
/tmp/
*.wav
*.mid
*.midi

# uv
.python-version
uv.lock

# Env
.env
.env.local
